<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact me</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="contact">
        <div class="cont-card" id="contact">
            <h1>Contact me</h1>
              
              <div class="contt">
                <legend>First Name</legend>
                <input type="text" name="Fname" id="fname" placeholder="Enter First name" required>
                <legend>Last Name</legend>
                <input type="text" name="lname" placeholder="Enter Last name" required>
                <legend>Email</legend>
                <input type="email" name="mail" id="main" placeholder="Enter ur mail" required >
                
              <!-- </div><div class="msg-cont"> -->
                  <legend>Message</legend>
                <textarea name="msg" id="masg" cols="30" rows="9" placeholder="Enter msg here" required></textarea><br>
                <button onclick="myFunction()">Submit it</button>

<script>
function myFunction() {
  alert("Submitted successfully");
}
</script>
                <!-- </div> -->
        </div>
    </div>
    
</body>
</html>