<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="resume">
      <div class="name-sec">
        <div class="profile">
          <img src="../static/profile.jpg" alt="profile" />
        </div>
        <div class="nm-ctn">
          <h1>Srivignesh S</h1>
          <p>Graphic Designer & Web Developer</p>
          <div class="sum-btn">
            <!-- <a href="../static/_Srivignesh_Resume.pdf" download><button class="bt1">Download Cv</button></a> -->
            <button onclick="window.print()" class="bt1">Download Cv</button>
            <a href="contact.html"><button class="bt2">Hire me</button></a>
          </div>
          <div class="social-icons">
            <a href="https://github.com/vignesh23122"
              ><img src="https://img.icons8.com/metro/22/ffffff/github.png"
            /></a>
            <a href="https://www.linkedin.com/in/srivignesh-s-4309a1219/"
              ><img src="https://img.icons8.com/metro/22/ffffff/linkedin.png"
            /></a>
            <a href="mailto:srivignesh23122001@gmail.com"
              ><img
                src="https://img.icons8.com/metro/23/ffffff/secured-letter.png"
            /></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="abt-sec">
          <h1>About Me</h1>
          <p>
            To obtain a challenging position in my dream company in order to
            expand my experience and skills and work towards the overall growth
            of the organisation
          </p>
        </div>
        <div class="det-sec">
          <span class="ct-gry">
            <p>Age</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Address</p>
          </span>
          <span class="ct-det">
            <p>20</p>
            <p>srivignesh23122001@gmail.com</p>
            <p>+91 9894747665</p>
            <p>Palakadu,Tamil Nadu, India</p>
          </span>
        </div>
      </div>
      <div class="skills">
        <h1>Technical Skills</h1>
        <div class="skill-grid">
          <div>
            <legend>HTML</legend>
            <div class="bar1 bar"></div>
          </div>
          <div>
            <legend>CSS</legend>
            <div class="bar2 bar"></div>
          </div>
          <div>
            <legend>JavaScript</legend>
            <div class="bar3 bar"></div>
          </div>
          <div>
            <legend>Asobe Photoshop</legend>
            <div class="bar4 bar"></div>
          </div>
          <div>
            <legend>Python</legend>
            <div class="bar5 bar"></div>
          </div>
          <div>
            <legend>Figma</legend>
            <div class="bar6 bar"></div>
          </div>
        </div>
      </div>
      <div class="projects">
        <h1>Projects Done</h1>
        <div class="cards-container">
          <div class="card card1">
            <h1 class="card-text">
              <img
                src="https://img.icons8.com/metro/56/000000/restaurant-building.png"
              />
            </h1>
            <h3 class="card-subtext">Restaurant Management</h3>
            <p class="card-maintext">
              A webpage which is for Reserving a table, ordering food and to
              enjoy the meal without be in a line.
            </p>
          </div>
          <div class="card card2">
            <h1 class="card-text">
              <img src="https://img.icons8.com/metro/56/000000/bank.png" />
            </h1>
            <h3 class="card-subtext">Bank Management</h3>
            <p class="card-maintext">
              To develop a application, that can improve work of the Bank
              employees and usery friendly.
            </p>
          </div>
          <div class="card card3">
            <h1 class="card-text">
              <img src="https://img.icons8.com/metro/56/000000/expensive.png" />
            </h1>
            <h3 class="card-subtext">Expense Tracker</h3>
            <p>
              A React based web app which is used to monitor and maintain ones
              expenditure as well as savings.
            </p>
          </div>
        </div>
      </div>
      <div class="certificate">
        <h1>Certification:</h1>
        <div class="cert-cont">
          <ul>
            <li>C++ Basics</li>
            <li>Full Stack Developer</li>
            <li>Software Testing - Nptel</li>
            <li>Certification for Pytho A.I development</li>
            <li>Intoduction to XAMARIN</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
