<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="resume">
      <div class="name-sec">
        <div class="profile">
          <img src="../static/profile-img.png" alt="profile" />
        </div>
        <div class="nm-ctn">
          <h1>Johny Blaze</h1>
          <p>Graphic Designer & Web Developer</p>
          <div class="sum-btn">
            <a href="../static/_Srivignesh_Resume.pdf" download><button class="bt1">Download Cv</button></a>
            <a href="#contact"><button class="bt2">Hire me</button></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="abt-sec">
          <h1>About Me</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
            iusto alias id molestias dignissimos harum repellat culpa aliquam
            fuga, optio minus placeat
          </p>
        </div>
        <div class="det-sec">
          <span class="ct-gry">
            <p>Age</p>
            <p>Email</p>
            <p>Phone</p>
            <p>Address</p>
          </span>
          <span class="ct-det">
            <p>28</p>
            <p>abc@gmail.com</p>
            <p>+91 9360487164</p>
            <p>!40, City Center, New York,USA</p>
          </span>
        </div>
      </div>
      <div class="skills">
        <h1>Professional Skills</h1>
        <div class="skill-grid">
          <div>
            <legend>HTML</legend>
            <div class="bar1 bar"></div>
          </div>
          <div>
            <legend>CSS</legend>
            <div class="bar2 bar"></div>
          </div>
          <div>
            <legend>JavaScript</legend>
            <div class="bar3 bar"></div>
          </div>
          <div>
            <legend>Asobe Photoshop</legend>
            <div class="bar4 bar"></div>
          </div>
          <div>
            <legend>Sketch</legend>
            <div class="bar5 bar"></div>
          </div>
          <div>
            <legend>Adobe XD</legend>
            <div class="bar6 bar"></div>
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
